body {
	overflow: hidden;
	background: rgba(1, 108, 248, 0.663);
	margin: 0;
	background-image: url(record.png);
	background-repeat: repeat;
}

.header {
	background: black;
	color: white;
	text-align: center;
	padding: 1em;
}

.mainsection {
	background: rgba(149, 148, 148, 0.802);
	color: white;
	text-align: center;
	padding: 1em;
}
